body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--pink-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --footer-height: 60px;
  --logo-height: 8rem;

  --font-size: 20px;
  --radius: 10px;
  --white-key-width: 4rem;
  --white-key-height: 32rem;
  --white-key-padding: 4px;
  --black-key-width: 2rem;
  --black-key-height: 20rem;
  --black-key-padding: -4px;

  --dark-purple-color: #120458;
  --medium-purple-color: #7a04eb;
  --pink-color:#fe75fe;
  --acid-pink-color: #ff00a0;
  --red-color: #ff124f;
}

::after,
::before {
  box-sizing: border-box;
}

button {
  border: none;
  border-radius: 0;

  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  appearance: none;

  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
