.key {
    position: relative;
    font-size: var(--font-size);
    border-radius: 5px 5px var(--radius) var(--radius);
    text-transform: uppercase;
    user-select: none;
}

.natural {
    width: var(--white-key-width);
    height: var(--white-key-height);
    padding-top: var(--white-key-padding);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--dark-purple-color);
    margin-right: 1px;
    z-index: 1;

}

.sharp,
.flat {
    width: var(--black-key-width);
    height: calc(var(--black-key-height) - 20px);
    padding-top: var(--black-key-padding);
    background-color: var(--dark-purple-color);
    color: var(--pink-color);
    margin: 0 calc(-0.5 * calc(var(--black-key-width)));
    z-index: 2;
}

.natural:active,
.natural.is-active {
    background-color: var(--acid-pink-color)
}

.activeButton {
    background-color: var(--acid-pink-color);
}

.sharp:active,
.sharp.is-active,
.flat:active,
.flat.is-active {
    background-color: var(--red-color);
}

.key:disabled {
    background-color: white;
    cursor: wait;
}

.natural:disabled {
    color: rgba(0,0,0,0.2);
    background-color: var(--pink-color);
}

.sharp:disabled,
.flat:disabled {
    color: var(--dark-purple-color);
    background-color: var(--acid-pink-color);
}
